html{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 60px;
}
#main title{
    display:inline;
    margin-top: 0px;;
    width:100%;
    height: 400px;
    text-align: center;
}

.header{
    background-color: blue;
    color: azure;
    height: 150px;
}




#img1{
    float:left;
    width:25%;
}
#img2{
    float: right;
    width:25%;
}

.navigation{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 50px;
    justify-content: space-around;
    align-items: stretch;
    position: fixed;
}

.link{
    text-align: center;
    width: 200px;
    border: 3px solid rgb(9, 84, 48);
    background-color: aqua;
    padding: 2px;
    flex: 1;
    font-size: 25px;
    
}
table{
    border-collapse: collapse;
    border: 3px solid black;
}

.activities td{
    text-align: center;
}

.galery_container{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 75px;
}

tr, td, th{
    border: 3px solid black;
}

.hour{
    background-color: lightgray;
}

.days{
    background-color: gray;
}