html{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

h1{
    font-size: 60px;
    font-style: italic;
    margin-top: 10%;
    text-shadow:2px 3px rgb(94, 58, 5);

}

.header{
    /* grid-column: 1/3 ; */
 
}

 h3, h5{
    text-decoration: underline;
}

.bright , .fects{
    background: linear-gradient(rgba(219, 216, 209, 0.9), rgba(224, 221, 216, 0.5));
    line-height: 24px;
}


#img1{
    float:left;
    width:25%;
}
#img2{
    float: right;
    width:25%;
}

table{
    border-collapse: collapse;
    border: 3px solid black;
}

.activities td{
    text-align: center;
}
.slider-container{
    grid-column: 1/-1;
    width:100%;
    height: 600px;  
    /* top: 10vh; */
    /* position:absolute; */
    /* position: relative; */
    /* left:20%;
    top:10%; */
    /* transform: translate(-50%, -50%);  */
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzy2Tzb0SPqYXFEVoAM-XujcHomv6lwDw80A&usqp=CAU"); */
    background-image: url("https://wallpaperaccess.com/full/3248016.jpg");
    background-size:  100% 100%;
    box-shadow: 1px 2px 10px 5px wheat;
    /* display: block; */
    /* animation:slider 3s infinite linear; */
    /* animation-iteration-count: 100; */
    /* animation: slider 40s steps(1, end)  infinite forwards ; */
    animation: slider 30s infinite;
}
.galery_container{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-auto-rows: 300px;
    grid-auto-flow: dense;

}
@keyframes slider {
    from {
        background-position: 0% 0%; 
    }
    to {
        background-position: 0% -100%;
    }
    25%{background-image: url("https://rare-gallery.com/mocahbig/68149-Cloud-Sunset-Savannah-Africa-SilhouetteGiraffe.jpg");}
    50%{background-image: url("https://wallpaperaccess.com/full/3248016.jpg");}
    75%{background-image: url("https://wallpaperaccess.com/full/4095233.jpg");}
    100%{background-image: url("https://t1.pixers.pics/img-1fb6f67c/canvas-prints-sole-savana-animali-elefanti-giraffe-skyline-penombra.jpg?H4sIAAAAAAAAA3VOW26EMAy8TpACNiFONhxgf_cIiIVkS8sjStJ21dOvUdXP2pY8Y2k8A597HoOHye_FJ9iWeV49hGVllvvk8_LjBRkrser5ugpERseXT1M6oqipk_XFSYNWkm2r_ntk4TamD_FWSsw9QO6auDz5G68pw7RlUNgaaBHIBk-KRjtrdENcj7IftcHamSdhfWni_pB4dvWXRCNKfSYoadkERzrYrIj3-KjgH8NfDKyC6w2sBquA6Bw-Ddeb1VYR1-CcRdPqu-3GOYQWiXmngglazY5jNuzyAjK4lpgvAQAA");}
}

.midume-l{
    grid-row: span 2;
}

.midume-r{
    grid-column: span 2;
}

.big{
    grid-row: span 2;
    grid-column: span 2;
}

tr, td, th{
    border: 3px solid black;
    
}

td{
    background-color: lightgray;
}

.hour{
    background-color: gray;
}

.days{
    background-color: gray;
}
footer{
    width: 100%; 
    height: 300px; 
    background-color: rgb(47, 144, 196);
    color: #efefef;
    display: flex;
}

footer div{
    text-align: center;
}
footer h3{
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-decoration: none;
}
.social-icons i{
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
}
#newsletter{
    flex-grow: 2;
}
form input{
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}
form button{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh; 
    font-family: 'Poppins', sans-serif;
    background-color: #442b0b;
}

.logo{
    color: rgb(226,226,226);
    letter-spacing: 5px;
    font-size: 20px;
    margin-left: 5%;
}

.nav-links{
    display: flex;
    width: 70%;
    justify-content: space-around;
}

.nav-links li{
    list-style: none;
}

.nav-links li a{
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    color: rgb(226,226,226);
    /* padding: 5px 0; */
    position: relative;
    margin: 3px;
}

.nav-links li a::after{
    content: '';
    background: rgb(135, 104, 59);
    width: 0;
    height: 2px;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: 0.3s;
}

.nav-links li a:hover:after{
    width: 100%;
}

.title{
    /* position: absolute; */
    /* right: 35%;
    left: 50%;
    top: 35%;
    max-width: 900px; */
    text-align: center;
    top: 50px;
}

.title h1{
    font-size: 65px;
    font-weight: 600;
    /* margin-bottom: 40px; */
}

header{
    /* background-image: url("https://www.traffic.org/site/assets/files/1378/us-ivory-report-1800_mini.-1800w.1530280147.jpg"); */
    height: 50px;
    /* margin-top: 0%; */
    width: 100%;
    position: fixed;
}

/* .button{
    width: 50px;
    border: 3px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
    min-height:30px; 
    min-width: 120px;
    margin-top: 5 px;
    margin-left: 10px;
} */

.grid{
     background: linear-gradient(rgba(252, 179, 33, 0.7), rgba(240, 190, 40, 0.5)), url("https://baltimore.org/wp-content/uploads/2020/03/visit-the-maryland-zoo-rhinos-1680x0-c-default.jpg"); 
    /* background-image: url("https://baltimore.org/wp-content/uploads/2020/03/visit-the-maryland-zoo-rhinos-1680x0-c-default.jpg"); */
    background-size: 100% 20%;
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    grid-auto-rows: auto;
}

.grid >*{
    grid-column: 2;
}
/* .mapdiv{
    display:grid ;
    grid-template-columns: 1fr 1fr 1fr ;
}
.googlemap{
    grid-row: 1;
    grid-column: 2;
} */
#facts{
    background-size: auto;
    background: linear-gradient(rgba(247, 199, 102, 0.39), rgba(230, 212, 180, 0.5));
}

@media screen and (max-width:1500px){
    .nav-links{
        width: 80%;
    }
} 

@media screen and (max-width:1300px){
    .nav-links{
        display: flex;
        max-width: 70%;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 5px;
     }
} 

@media screen and (max-width:1100px){
    h1{
        margin-top: 20%;
    }
}

@media screen and (max-width:780px){
    .grid{
        grid-template-columns: 20px 1fr 20px;
    }
}