html{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    /* margin-left: 80px;
    margin-right: 80px; */
    background-image: url("https://www.traffic.org/site/assets/files/1378/us-ivory-report-1800_mini.-1800w.1530280147.jpg");
}

h1{
    font-size: 60px;
}
/*
#main title{
    margin-top: -50px;
    width:100%;
    height: 400px;
    background-image:"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFpozeZCGh_2akrTlnHbhTmwBQnKWyTxYLwQ&usqp=CAU";
    position: sticky;
    display:grid;
    grid-template-columns: 20 60% 20%;
   
}
*/
.header{
    grid-column: 1/3 ;
 
}




#img1{
    float:left;
    width:25%;
}
#img2{
    float: right;
    width:25%;
}
/*
nav{

    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 60px;
    justify-content: space-around;
    align-items: stretch;
    position: fixed;
}

.link{
    text-align: center;
    width: 200px;
    border: 3px solid rgb(9, 84, 48);
    background-color: rgb(37, 202, 202,0.5);
    padding: 2px;
    flex: 1;
    font-size: 25px;
    
}
*/
table{
    border-collapse: collapse;
    border: 3px solid black;
}

.activities td{
    text-align: center;
}

.galery_container{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 300px;
    grid-auto-flow: dense;
}

.midume-l{
    grid-row: span 2;
}

.midume-r{
    grid-column: span 2;
}

.big{
    grid-row: span 2;
    grid-column: span 2;
}

tr, td, th{
    border: 3px solid black;
}

.hour{
    background-color: lightgray;
}

.days{
    background-color: gray;
}
footer{
    background-color: rgba(16, 243, 20, 0.919);
}
#join_mailing{
  
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 160px;

}
.nav-links{
    background-color: azure;
    margin-left: 0%;
    margin-right: 0%;
    display: grid;
    align-content: center;
    grid-template-columns:1.4fr 0.9fr 0.7fr 1.9fr 1fr 2fr /*repeat(auto-fit, minmax(200px, 1fr))*/;
    grid-auto-rows: 100px;
    /* grid-auto-flow: dense; */
    /* padding: 28px 0; */
    margin-top: 0px;
    font-size: 22px;

}
.nav-links li{
    /* grid-column: span 3; */
    display: inline-block;
    /* margin: 0 15px; */
    font-size: 12px; 
    font-weight: bolder;
}
.nav-links li a{
    text-decoration: none;
    color: rgb(221, 46, 46);
    /* padding: 5px 0; */
    position: relative;
}
.nav-links li a::after{
    content: '';
    background: yellowgreen;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.title{
    position: absolute;
    right: 35%;
    top: 25%;
    max-width: 900px;
    text-align: center;
}

.title h1{
    font-size: 65px;
    font-weight: 600;
    margin-bottom: 40px;
}
.ee{
    margin-top: 20px;
    display: flex;
}
header{
    /* background-image: url("https://www.traffic.org/site/assets/files/1378/us-ivory-report-1800_mini.-1800w.1530280147.jpg"); */
    height: 600px;
    margin-top: 0%;
}

.button{
    width: 50px;
    border: 3px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
    min-height:30px; 
    min-width: 120px;
    margin-top: 5 px;
    margin-left: 10px;
}
.grid{
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    grid-auto-rows: auto;
}
.grid >*{
    grid-column: 2;
}